.blog-header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  @include leader();
  @include desktop {
    @include leader(2);
  }
}
.blog-header__title {
  @include rhythm-type(2);
  margin: r(1) n();
  font-weight: 600;
  color: $primary;
}
.blog-header__tags {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto !important;
}
.blog-header__tag {
  @include rhythm-type(-2);
  & + &::before {
    content: ",";
    margin-right: .5em;
  }
}
.blog-header__category {
  @include rhythm-type(-2);
  margin-bottom: r(.5);
  letter-spacing: .4em;
  color: $accent;
}
.blog-header__info {
  @include rhythm-type(-2);
  @include leader(.5);
  color: $secondary;

  .author-name {color: $secondary;}
}

.blog-author-photo {
  display: inline-block;
  border-radius: 50%;
}

.blog-author-info {
  @include rhythm-type(-1);
}
