.news-header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}
.news-header__title {
  @include rhythm-type(2);
  margin: r(1) n();
  font-weight: 600;
  color: $primary;
}
.news-header__tags {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto !important;
}
.news-header__tag {
  @include rhythm-type(-2);
  margin-left: 4px;
  vertical-align: top;
}
.news-header__category {
  @include rhythm-type(-2);
  margin-bottom: r(.5);
  letter-spacing: .4em;
  color: $accent;
}
.news-header__info {
  @include rhythm-type(-2);
  @include leader(.5);
  color: $secondary;

  .author-photo {
    display: inline-block;
    border-radius: 50%;
  }

  .author-name {
    font-weight: bold;
    color: $secondary;
  }
}
