.service {
  @include rhythm-margins(2);

  h3 {
    @include rhythm-type(0);
    margin-bottom: 0;
    font-weight: 600;
    & + p,
    & + blockquote {margin-top: 0;}
  }
}
.service__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include rhythm-type(1);
  font-weight: 600;

  .text {flex: 1 1 auto;}

  .to-top {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: r(1);
    width: 50px;
    color: $accent;
  }
  .to-top__text {
    @include rhythm-type(-2);
    color: $secondary;
  }

  .icon {
    margin-left: auto;
    size: 17px 20px;
  }
}
