.service {
  @include rhythm-margins(2);

  h4 {
    margin-bottom: 0;
    & + p,
    & + ul,
    & + ol {margin-top: 0;}
  }


  ul {
    margin-left: -7px;
    @include scut-list-custom($marker-width: rhythm(1) - 5px){
      content: url(ok.svg);
    }
  }

  li ul {
    list-style-type: circle;
    margin: 0 n() 0 .5em;
    background: none;
    & > li::before {display: none;}
  }

  figure {@include rhythm-margins(1);}
}
.service__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include rhythm-type(1);
  font-weight: 600;

  .text {flex: 1 1 auto;}

  .to-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin-left: r(1);
    width: 50px;
  }
  .to-top__text {
    @include rhythm-type(-2);
    color: $secondary;
  }

  .icon {size: 17px 20px;}
}
