// topbar's height
$topbar-height: 1.8em * 3;

.topbar {
  .bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $topbar-height;
  }
  .logo {
    display: block;
  }
}

.topmenu,
.langmenu {
  display: none;
  li {
    display: inline;
    font-size: .8rem;
    &:after {
      content: "/";
      color: $lightgray;
    }
  }
  a {
    @include link-colors( $darkgray, $green );
  }
}

@include desktop {
  .topmenu,
  .langmenu {
    display: inline;
  }
};
