.billboard
  = image_tag current_page.data.billboard.image, class: "billboard__image"

  h2.billboard__title = current_page.data.billboard.title

  p.billboard__sub-title = current_page.data.billboard.subtitle
