meta content="#{current_page.data.title || data.site.name}" property="og:title"
meta content="#{data.site.name}" property="og:site_name"
meta content="#{data.site.url}" property="og:url"

meta content="#{data.site.image}" property="og:image"
meta content="#{data.site.description}" property="og:description"

meta content="#{data.site.type}" property="og:type"
meta content="#{data.site.fbadmins}" property="fb:admins"
