meta content="#{ t("site.name")        || current_page.data.title }" property="og:title"
meta content="#{ t("site.name")        }" property="og:site_name"
meta content="#{ t("site.url")         }" property="og:url"

meta content="#{ t("site.og-image")    }" property="og:image"
meta content="#{ t("site.description") || current_page.data.description }" property="og:description"

meta content="#{ data.site.type        }" property="og:type"
meta content="#{ data.site.fbadmins    }" property="fb:admins"
