//  Root
//  ====

@import "~sass-toolkit/stylesheets/toolkit/kickstart";

html {
  font-family: $base-font-family;
  text: $text-color 1.5 $base-font-size;
  -webkit-font-smoothing: antialiased;
  &::after { @include share-breakpoints($susy-media); }
}

body {background-color: white;}

.page {
  @include container;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  padding: n() r(2);
  @include desktop {max-width: 1280px;}
}

main[role="main"] {flex: 1 0 auto;}

// Turbolinks
html.turbolinks-progress-bar::before {background-color: $nprogress-color !important;}

// Allow only vertical resizing of textareas.
textarea {resize: vertical;}

img, svg {vertical-align: middle;}
img[data-sizes="auto"]:not(.slick-slide) {
  display: block;
  size: 100% auto;
}

figure {
  margin: 0;
  padding: 0;
  border: 0l
}

figcaption {
  text-align: center;
  @include ms-respond(font-size, -1);
}


.cf {clear: fix;}
.clr{clear: both;}

.text-center {text-align: center;}

// Hide from both screenreaders and browsers: h5bp.com/u
.hidden { @include Hidden; }
