/**
 * Links
 */

a {
  text-decoration: none;
  color: $link-color;
}

.url {
  white-space: wrap;
  word-break: break-word;
}

/**
 * Typography
 */

/**
 * Heading
 */

.heading--side-lined {
  @include rhythm-margins(1);
  @include rhythm-type(-2);
  font-weight: 600;
  color: $secondary;
  @include scut-side-lined($color: tint($secondary, 60%), $space: r(1), $v-adjust: 1px);
}

/**
 * Selection style
 */
// ::selection {
//   text-shadow: none;
//   background-color: $gray-lighter;
// }
