---
title: 文章分類：最新訊息
billboard:
  title: 最新訊息
  subtitle: 資訊安全業界大小事
---

= partial "components/billboard", locals: {text_only: true}

- data.blog.each_with_index do |blog, index|
  = partial "components/card", locals: {\
    thumbnail: "blog-thumbnail-#{index}.jpg",
    title: blog.title,
    tags:  blog.tags,
    category: blog.category,
    blog: blog.page\
  }
