---
relative_posts: true

title: 滲透測試服務 Penetration Test

billboard:
  title: 用最真實的攻擊，<br>驗證企業的防禦
  subtitle: 瞭解滲透測試
  
table_of_contents:
  - 滲透測試服務是什麼 ›
  - 為何企業需要滲透測試服務 ›
  - 滲透測試與弱點掃瞄有何差異 ›
  - 自動測試與人工測試有何差異 ›
  - 滲透測試有無相關規範 ›
  - 滲透測試執行流程有哪些 ›
  - 滲透測試執行結果是什麼 ›
  - 其他滲透測試常見問題 ›
---

article.article
  = partial "components/billboard", locals: {\
    mobile_image: "pt-mobile.jpg",
    desktop_image: "pt-desktop.jpg"\
  }


  = partial "components/table-of-contents", locals: {\
    id: "service-content",
    contents: current_page.data.table_of_contents\
  }

  = partial "components/service", locals: {title: "滲透測試服務是什麼？", id: "service-content-0"}
    p 滲透測試服務 (Penetration Test, PT) 是委請受信任的第三方專業資安團隊，從駭客的角度出發，模擬攻擊者的思考方式對企業進行各種入侵攻擊測試。
    p 滲透測試執行期間，資安專家會以駭客思維嘗試入侵該企業的網站、網路系統、儲存設備等軟硬體，找出各種潛在的漏洞，以驗證企業的設備與資料是否可被破壞或竊取，同時也評估資訊系統與硬體的全盤架構，確認其安全性是否有待加強。
    p 滲透測試結束後，專家會列出詳細的攻擊手法與步驟，提供完整的修補建議並輔導開發者修補漏洞，讓企業能儘速降低遭受入侵的風險。開發者修補完畢後，資安團隊會再次確認是否可使用其他手法繞過防護，以確保企業不會因為同樣的問題遭受損失。
    
  = partial "components/service", locals: {title: "為何企業需要滲透測試服務？", id: "service-content-1"}
    p 駭客攻擊就像生活中的病毒，隨時隨地都有可能接觸到並且遭受感染。而滲透測試如同健康檢查，若企業能定時執行深層的資安健檢，面對各種攻擊時即可提高存活的機率。
    p 若您的企業、網站有機密外洩、個資外洩等疑慮，或是開發完畢的新系統需要上線，又或者開發中的系統需要做局部安全測試，都適合導入滲透測試進行安全檢測。
    p 在面對網路上的眾多駭客之前，先行做好防禦措施，才能保證系統的每個環節都經得起駭客的挑戰，進而鞏固客戶對企業的信賴。

  = partial "components/service", locals: {title: "滲透測試與弱點掃瞄有何差異？", id: "service-content-2"}
    p 滲透測試需由經驗豐富的資安專家手動進行，測試過程中專家會利用不同的弱點進行組合式攻擊，驗證是否有任何方式可突破當前網站的防禦。滲透測試為求仔細，通常需要費時多天才能完成，因此耗費的人力成本較高。
    p 弱點掃瞄可由自動化掃瞄軟體在較短的時間內執行完畢，因此時間與金錢成本相對較低。但是弱點掃瞄僅能檢測既有的漏洞，無法及時檢測出最新的資安漏洞並給予修補建議，同時對於弱點的誤判率也較高。目前滲透測試為求完整，通常已將弱點掃瞄包含在內。詳細的關係圖與比較表如下所示：
    
    figure = image_tag "http://devco.re/assets/themes/devcore/images/penetration-test-vs-vulnerability-assessment.png"
    
    table.vs-table
      thead
        tr
          - data.penetration_test.vs_table.ths.each do |th|
            th.vs-table__th
              => th.title
              span.sub-title = th.subtitle
      
      tbody
        - data.penetration_test.vs_table.rows.each do |row|
          tr
            - row.tds.each do |td|
              td.vs-table__td
                .term = td.term
                = td.description

  = partial "components/service", locals: {title: "自動測試與人工測試有何差異？", id: "service-content-3"}
    p 自動測試與人工測試的差異主要有下列幾項：
    
    h3 即時性
    p 自動測試的檢測規則需要定期更新，若軟體尚未更新或已過期，就無法檢測出最新的漏洞。在專家的人工測試之下，則不會有此狀況發生。

    h3 準確率
    p 自動測試的結果通常有為數不少的誤報，因此需要有專家驗證滲透測試報告的內容。雖然某些滲透測試軟體的檢測準確率有一定水準，但通常其價格也較貴。而人工滲透測試所找出來的弱點都是 100% 確定可利用的，不會有誤報的狀況。

    h3 檢測深度
    p 自動測試僅能依照既有規則對資訊系統進行檢測，無法將檢測到的弱點加以組合。而具備駭客思維的資安專家，則可利用多個弱點進行組合式攻擊，往往會發現能造成重大危害的潛在漏洞。

    h3 商業邏輯判斷
    p 程式無法判斷邏輯漏洞。以下圖內容為例，網站會員在查詢自己的個人資料時，網址可能會帶有與帳號相關的參數（如圖 1），然而攻擊者可能會將網址的 id=101 改成圖 2 的 id=102，觀察網站是否會顯示其他使用者的個人資料。若能成功看到其他使用者的資料，則代表有邏輯漏洞。這類型的邏輯漏洞，只能靠人工的方式找出，而無法用自動化滲透測試工具掃瞄。
    
    figure
      figcaption 圖 1：原始會員資料
      = image_tag "http://devco.re/assets/themes/devcore/images/account.png"

    figure
      figcaption 圖 2：駭客篡改 id 後得到其他使用者的個人資料
      = image_tag "http://devco.re/assets/themes/devcore/images/revise-account.png"

  = partial "components/service", locals: {title: "滲透測試有無相關規範？", id: "service-content-4"}
    p 檢測的服務項目會包括網路掃瞄、弱點掃瞄、滲透測試三大層面，並且遵循下列國際標準：
    
    ul
      - data.penetration_test.specification.each do |test|
        li
          h3 = test.title
          p
            = test.description
            br
            = link_to test.link, test.link ,class: "url"
                    
  = partial "components/service", locals: {title: "滲透測試執行流程有哪些？", id: "service-content-5"}
    - data.penetration_test.workflow.each do |flow|
      h3 = flow.title
      ol
        - flow.steps.each do |step|
          li
            = step.name
            - if step.items
              ul
                - step.items.each do |item|
                  li = item
                  
  = partial "components/service", locals: {title: "滲透測試執行結果是什麼？", id: "service-content-6"}
    p 初次滲透測試執行完畢後，資安專家會依照所發現的漏洞評估災情，根據嚴重程度分級，詳細列出攻擊步驟，並給予完整的修復建議，輔導企業修補漏洞。待企業修補完畢後，資安專家會再次驗證該漏洞是否已正確修復，若發現能利用其他手法再次繞過，則會回報給企業，請開發者再次進行修補。執行結果報告內容可參考此下圖：
    
    figure = image_tag "http://devco.re/assets/themes/devcore/images/penetration-report-sample.jpg"
    
    p 若需要詳細的滲透測試報告範本，歡迎您來信索取。

  = partial "components/service", locals: {title: "其他滲透測試常見問答", id: "service-content-7"}
    ul
      - data.penetration_test.faq.each do |question|
        li
          h3 = question.title
          p  = question.answer
