.article {
  h4 {
    margin-bottom: 0;
    & + p,
    & + ul,
    & + ol,
    & + blockquote {margin-top: 0;}
  }

  ul {
    $size: 30px;
    margin-left: -7px;
    @include scut-list-custom($marker-width: $size - 3px) {
      content: "";
      size: $size;
      background: url(ok.svg) 50% 50% / contain no-repeat;
    }
    @include desktop {
      $size: rhythm();
      @include scut-list-custom($marker-width: $size - 5px) {
        content: "";
        size: $size;
      }
    }
  }

  li ul {
    list-style-type: circle !important;
    margin: 0 n() 0 1em;
    padding-left: 0;
    background: none;
    & > li::before {display: none !important;}
  }

  ul, ol {@include rhythm();}

  figure {@include rhythm-margins(1);}

  blockquote {
    margin: rhythm() 0;
    padding-left: r(4);
    position: relative;

    &::before {
      content: '';
      position: absolute r(.5) n() r(.5) 0;
      width: r(.5);
      background-color: $primary;
    }
    &::after {
      content: '';
      position: absolute r(.5) n() n() 0;
      size: r(.5);
      background-color: $accent;
    }

    p {
      &:first-child {margin-top: 0;}
      & + cite {margin-top: rhythm(-1);}
    }

    cite {
      display: block;
      &::before {content: '— ';}
    }
  }
}
