.billboard {
  @include trailer(2);
  margin-top: - $topbar-height;
  @include desktop {
    display: flex;
    justify-content: space-between;
    margin-top: - $topbar-height--desktop;
  }
}
.billboard--text-only {
  @include rhythm(1.5);
  text-align: center;
}
.billboard__image-wrapper {
  margin: n() r(-1.5);
  width: calc(100% + #{r(1.5) * 2});
  @include aspect-ratio(620, 433, ".billboard__image");
  @include desktop {
    margin: n() 0;
    width: span(8);
  }
}
.billboard__image {
  @include desktop {
    width: auto;
    margin: n() auto;
  }
}
.billboard__text-wrapper {
  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: - span(1 wide);
    padding-top: $topbar-height--desktop;
    width: span(5);
    position: relative;
    z-index: index($layers, billboard-text);

    .billboard--text-only & {
      margin: n() auto;
      width: auto;
    }
  }
}
.billboard__title {
  margin-bottom: 0;
  font-size: ms(2);
  font-weight: bold;
  line-height: rhythm();
}
.billboard__sub-title {
  margin-top: 24px;
  font-size: ms(0);
  font-weight: 300;
  line-height: 26px;
  .billboard--text-only & {margin-top: 2px;}
}
