.billboard {
  @include trailer(1);
  margin-top: - $topbar-height;
  @include desktop {
    margin-top: - $topbar-height--desktop;
    position  : relative;
  }

  body.index & {
    $min-vmin                  : 500px;
    $min-font-size             : 12px;
    $max-vmin                  : 1200px;
    $max-font-size             : 30px;
    $responsive-font-size-ratio: 1/50;
    margin                     : n() auto;
    padding                    : n() r(1.5);
    max-width                  : $normal;
    @include desktop {
      margin    : 0;
      padding   : 0 0 (72px + r(1));
      max-width : none;
      min-height: calc(600px - #{$topbar-height--desktop});
      height    : calc(100vh - #{$topbar-height--desktop});
      max-height: calc(1200px - #{$topbar-height--desktop});
      font-size : calc(100vmin * #{$responsive-font-size-ratio});
    }
    @include susy-media(( max-height: $min-vmin, orientation: landscape )) {
      font-size: $min-font-size;
    }
    @include susy-media(( min-height: $max-vmin, orientation: landscape )) {
      font-size: $max-font-size;
    }
    @include susy-media(( max-width: $min-vmin, orientation: portrait )) {
      font-size: $min-font-size;
    }
    @include susy-media(( min-width: $max-vmin, orientation: portrait )) {
      font-size: $max-font-size;
    }
  }
}

.billboard--text-only {
  @include rhythm-margins(1.5, .5);
  text-align: center;
  @include desktop {
     @include rhythm-margins(2, 3);
  }
}

.billboard__image-wrapper {
  margin: n() r(-1.5);
  width : calc(100% + #{r(1.5) * 2});
  @include aspect-ratio(375, 282, ".billboard__image");
  @include desktop {
    margin: n() 0;
    width : 100%;

    &::before {
      padding-top: 443/940*100%;
    }

    body.index & {
      margin    : n() auto;
      width     : span(9 of 12);
      height    : 100%;
      background: url("cover-desktop.jpg") 50% 50% / contain no-repeat transparent;

      &::before {
        display: none;
      }
    }
  }
}

.billboard__image {
  @include desktop {
    width : auto;
    margin: n() auto;

    body.index & {
      display: none;
    }
  }
}

.billboard__text-wrapper {
  @include leader(-1);
  position: relative;
  z-index : index($layers, billboard-text);
  @include desktop {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    margin-top     : 0;
    width          : span(5);
    position       : absolute $topbar-height--desktop 0 0 n();

    .billboard--text-only & {
      position: static;
      margin  : n() auto;
      width   : auto;
    }

    body.index & {
      top   : 5%;
      bottom: auto;
    }
  }
}

.billboard__title {
  margin-bottom: 0;
  font-size    : scut-em(ms(2));
  font-weight  : bold;
  line-height  : 1.25;

  .nowrap {
    white-space: nowrap;
  }
}

.billboard__sub-title {
  margin-top : 24px;
  font-size  : scut-em(ms(0));
  font-weight: 300;
  line-height: 1.5;

  a {
    border-bottom: 2px solid $accent;
    font-weight  : bold;
  }

  .billboard--text-only & {
    margin-top   : 2px;
    margin-bottom: 0;
  }
}

.billboard__forward {
  display: none;
  @include desktop {
    body.index & {
      display: inline-block;
      bottom : r(1);
      outline: none;
      @include scut-center-transform(x);
    }
  }

  .text {
    font-size: 14px;
    color    : #B8B8B8;
  }

  .icon {
    size : size("angle-down.svg");
    color: #DEDEDE;
  }
}
