.appearance-none {@include Normalize();}

%base {
  @extend .appearance-none;
  display: inline-block;
  font-size: ms(-2);
  font-weight: 600;
  color: $accent;
  border: 2px solid $accent;
}

.button--dense {
  @extend %base;
  padding: 0 r(1);
  line-height: r(1.5);
}

.button {
  @extend %base;
  padding: 0 rhythm(1);
  line-height: rhythm();
}
