.card {
  display: flex;
  padding: r(1) r(2) r(3);
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}
.card__thumbnail {
  .image {max-width: 208px;}

  .title {
    @include rhythm-type(0);
    margin: r(.5) n();
    font-weight: 600;
    color: $primary;
  }
}
.card__tags {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  order: 2;
}
.card__tag {
  @include rhythm-type(-2);
  margin-left: 4px;
  vertical-align: top;
}
.card__general {
  @include rhythm-type(-2);
  margin-bottom: r(.5);
  letter-spacing: .4em;
  color: $accent;
  order: -1;
}
