.drawer-activated {
  overflow: hidden;
  @include desktop {overflow: auto;}
}

.drawer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: fixed 0 0 0 0;
  z-index: index($layers, drawer);
  background-color: white;
  @include toggle-fade();
  @include desktop {
    @include show();
    position: static;
    background-color: transparent;
  }
}
.drawer__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: rhythm(12);
  @include desktop {
    flex-direction: row;
    justify-content: flex-end;
    height: auto;
  }
}
.drawer__contact {
  font-size: 14px;
  @include desktop {
    margin-left: rhythm(.5);
    order: 1;
  }
}

.main-menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: rhythm(8);
  @include desktop {
    flex-direction: row;
    justify-content: flex-start;
    height: auto;
  }
}
.main-menu__link {
  font-size: ms(1);
  color: $text-color;
  @include desktop {
    @include adjust-font-size-to(14px);
    font-weight: 600;
    & + & {margin-left: rhythm(.5);}
  }
}

.lang-menu {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-weight: 600;
  @include rhythm-type(-1);
  @include desktop {
    margin-left: rhythm(.5);
  }
}
.lang-menu__label {color: $secondary;}
.lang-menu__link {
  margin-left: r(.5);
  color: $text-color;

  & + &::before {
    content: "|";
    margin-right: r(.5);
    font-weight: lighter;
    color: $secondary;
    position: relative -1px n() n() n();
  }
}
