.drawer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: fixed 0 0 0 0;
  z-index: index($layers, drawer);
  background-color: white;
  @include toggle-fade();
}
.drawer__contact {margin: rhythm(2) auto;}

.main-menu {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.main-menu__link {
  @include rhythm-type(1);
  color: $text-color;

  & + & {margin-top: rhythm(1);}
}

.lang-menu {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-weight: 600;
  @include rhythm-type(-1);
}
.lang-menu__label {color: $gray;}
.lang-menu__link {
  margin-left: r(.5);
  color: $text-color;

  & + &::before {
    content: "|";
    margin-right: r(.5);
    position: relative -1px n() n() n();
  }
}
