.contact-section {
  @include rhythm(.5, 1, 1, .5);
  text-align: center;
  border: 2px solid $divider-gray;
  border-width: 2px 0 2px 0;
  @include bleed-x(r(1.5));
  @include desktop {border-width: 2px;}
}
.contact-section__title {
  @include rhythm-type(0);
  @include rhythm-margins(0, .25);
}

.main-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-shrink: 0;
  @include rhythm-padding(.5);
}
.main-footer__sns {
  color: white;
  background-color: $green;
  margin: n() 16px;
  @include ir(1/1, 32px);
}
.main-footer__copyright {
  @include leader(.5);
  @include rhythm-type(-2);
  width: 100%;
  text-align: center;

  .link {
    margin-left: r(1);
    color: $text-color;
    @include scut-link-bb;
  }
}
