.contact-section {
  @include rhythm(.5, 1, 1, 0);
  text-align: center;
  border: 2px solid $divider-gray;
  border-width: 2px 0 2px 0;
  @include bleed-x(r(1.5));
  @include desktop {
    border-width: 2px;
    @include rhythm-padding(1.5);
  }
}
.contact-section__title {
  @include rhythm-type(0);
  @include rhythm-margins(0, .25);
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  text-align: center;
  @include rhythm-padding(1.5, .5);
  @include rhythm-type(-2);
}
.main-footer__snses {
  display: flex;
  justify-content: center;
  @include leader(1.5);
}
.main-footer__sns {
  $size: 24px;
  display: inline-block;
  margin: n() rhythm(.25);
  width: $size;
  color: white;
  background-color: $primary;
  @include aspect-ratio($size, $size, ".icon");
}
.main-footer__address {
  @include rhythm-margins(.5, 1.5);
  font-style: normal;
}
.main-footer__copyright {
  @include rhythm-type(-2);
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {display: inline-block;}
}
