$leader-padding: r(1);
$input-height: r(2);

.form {
  @include rhythm-margins();
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.form__actions {
  padding-top: $leader-padding;
  text-align: center;
  @include desktop {text-align: left;}
}

%control-group {
  position: relative;
  padding-top: $leader-padding;
  margin-bottom: $leader-padding;
  line-height: $input-height;
}
.control-group {
  @extend %control-group;
  @include desktop {
    width: span(5 of 10);
  }
}
.control-group--full {
  @extend %control-group;
  @include desktop {
    width: 100%;
  }
}
.control-group__input {
  border: none;
  border-radius: 0;
  background-color: $bg-gray;
  outline: none;
  width: 100%;
  height: $input-height;
}
.control-group__select {
  @extend .control-group__input;
  border: 1px solid $divider-gray;
  background-color: transparent;
  &:focus { background-color: $divider-gray; }
}
.control-group__textarea {
  @extend .control-group__input;
  min-height: 200px;
  height: auto;
}
.control-group__label {
  position: absolute $leader-padding n() n() 0;
  line-height: $input-height;
  color: transparentize($primary, .5);
  transition: all .3s ease-in-out 0s;

  .control-group__select + &,
  &.active {
    top: 0;
    font-size: ms(-2);
    color: $primary;
    line-height: $leader-padding;
  }
}
.control-group__underline {
  position: absolute n() 0 0 0;
  height: 1px;
  background-color: $primary;
  transform: scale(0);
  transition: transform .3s ease-in-out 0s;

  .control-group__input:focus ~ & { transform: scale(1); }
}
