.highlight-name {
  @include rhythm-type(-2);
  @include rhythm-margins(1, 0);
  padding: r(.5) r(1.5);
  word-break: break-all;
  color: $primary $bg-gray;
}

.highlight {
  @include rhythm-margins();

  .highlight-name + & {margin-top: 0;}
}

pre  {
  padding: r(1) r(1.5);
  color: #fff $primary;

  .highlight-name + &,
  .highlight & {margin: 0;}
}
