.list--unstyled {
  @extend %scut-list-unstyled;
}
.list--punctuated {
  @include scut-list-punctuated();
}

/**
 * Refereances list
 */

.references {
  @include rhythm-type(-1);
}
.references__list {
  display: inline-block;
  margin: 0 !important;
  padding-left: 0 !important;

  li {
    &::before {display: none !important;}
  }
}
