.post-list {
  @include trailer(4);
}

.post-list__cell {
  margin-bottom: 60px;

  .heading {
    @extend %ultra-large-heading;
    margin-bottom: -44px;

    &:only-child {
      @include desktop {
         @include trailer(12);
      }
    }
  }

  .post {
    font-weight: 600;
    line-height: 1.25;
    text-align : center;

    & + .post {
      margin-top: rhythm(.5);
    }
  }
}
