.topbar {
  display: flex;
  align-items: center;
  height: $topbar-height;
  flex-shrink: 0;
  position: relative;
  z-index: index($layers, topbar);
  background: rgba(white,.1);
  margin: 0 (-$topbar-padding);
  padding: 0 $topbar-padding;
  @include desktop {
    padding: n() $topbar-padding--desktop;
    margin: 0;
    height: $topbar-height--desktop;
  }
}
.topbar__menu {
  margin-right: r(.5);
  font-size: ms(-2);
  font-weight: 600;
  line-height: 1;
}
.topbar__hamburger {
  $gap: 10px;
  $bar: 2px;
  padding: $gap;
  size: $hamburger-size;
  text-align: center;
  border-radius: 50%;
  background-color: $gray;

  .bars {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    size: 100%;
  }

  .bar {
    height: $bar;
    background-color: white;
    // transition: transform .3s ease 0s;
  }

  &.active {
    position: absolute $hamburger-leader $topbar-padding n() n();
    z-index: index($layers, drawer-element);
    // background-color: $lightgray;

    .bar {
      &:first-child,
      &:last-child {
        position: absolute 50% $gap n() $gap;
        margin-top: - $bar / 2;
      }
      &:first-child {transform: rotate(45deg);}
      &:last-child {transform: rotate(-45deg);}
      &:nth-child(2) {display: none;}
    }
  }
}

.topbar__brand {margin-right: auto;}
.logo {
  @extend %scut-image-replace;
  margin: 0 n() r(.5);
  size: 120px 30px;
  background: url(logo-mobile.svg) 50% 50% / contain no-repeat transparent;

  @include desktop {
    .topbar & {
      margin-bottom: 3px;
      width: 205px;
      background-image: url(logo.svg);
    }
  }
}

.slogan {
  display: none;
  @include desktop {
    display: flex;
    margin: 0;
    font-size: 14px;
    line-height: 1.5;

    .link {
      font-weight: 600;
      @include scut-link-bb();
      margin: 0 .2em;
    }
  }
}
