//  Settings
//  ========

$color-light-saturation: 93%;

//  Colors
//  ======

$gray-base:     #000 !default;
$gray-darker:   tint($gray-base, 13.5%) !default;
$gray-dark:     tint($gray-base, 20%)   !default;
$gray:          tint($gray-base, 33.5%) !default;
$gray-light:    tint($gray-base, 46.5%) !default;
$gray-lighter:  tint($gray-base, 93.5%) !default;

$black:         #222;
$darkgray:      #53565a;
$gray:          #b8b8b8;
$green:         #44d62c;
$lightgray:     #ededed;

//  Pallete
//  -----------

$primary:   $darkgray;
$secondary: $gray;
$accent:    $green;
$success:   $green;
$warning:   #ff8c13;
$attention: #fdd521;
$critical:  #e84444;
$on-hold:   $darkgray;

$divider-gray: #DBDFE4;
$bg-gray:      #E9E9E9;

//  Texts
//  -----

$text-color: $darkgray;

//  Links
//  -----

$link-color:           $green !default;
$link-hover-color:     shade($link-color, 15%) !default;
$link-focus-color:     $gray-dark !default;
$link-active-color:    $gray-dark !default;
$link-visited-color:   $gray-dark !default;

//  NProgress
//  ---------
$nprogress-color:    $primary;
