//  Grid settings
//  =============

$layout-base: (
  gutters: 1/3,
  column-width: 70px,
  debug: (
    // image: show,
  ),
  use-custom: (
    // clearfix: true,
    rem: false,
  ),
);
$susy: layout(4 $layout-base);

// {{ Element twick points }}
$large:         900px;
$large-columns: 12;

// {{ Device layouts }}
$susy-media: (
  'mobile': '(max-width: 414px)',
  'tablet-portrait': '(max-width: 768px) and (orientation: portrait)',
  'tablet-landscape': '(max-width: 1024px) and (orientation: landscape)',
  'tablet': '(min-width: 768px)',
  'tablet-portrait-min': '(min-width: 768px) and (orientation: portrait)',
  'tablet-landscape-min': '(min-width: 768px) and (orientation: landscape)',
  'desktop': '(min-width: #{$large})'
);
$tablet: (
  query: map-get($susy-media, tablet),
  layout: 9 .5
);
$tablet-columns: susy-get(columns, map-get($tablet, layout));
$desktop: (
  query: map-get($susy-media, desktop),
  layout: $large-columns
);
$desktop-columns: susy-get(columns, map-get($desktop, layout));
$desktop-grid-padding: susy-get(column-width) * susy-get(gutters) / 2;

//  {{ Layers ------ }}
$layers: (
  base
  billboard
  billboard-text
  topbar
  drawer
  drawer-element
);
