//  Module Scale and base font settings
//  ===================================

$base-font-size:   20px;
// $ideal-font-size:  36px;
$base-line-height: 36px;
$round-to-nearest-half-line: true;

$rhythm-unit: "px";
$rhythm-gap: rhythm(.5);
$rem-with-px-fallback: false;

$scut-rem-base: scut-strip-unit($base-font-size);

$ms-base:          $base-font-size;
$ms-ratio:         $major-third;
$ms-ratio-desktop: 1.33;
$ms-range:         $ms-ratio 0,
                   $ms-ratio-desktop $large;

@mixin rhythm-type($level) {
  font-size: ms($level);
  @include desktop {
    @include adjust-font-size-to(ms($level, $Ratios: $ms-ratio-desktop));
  }
}

/**
 * Component size
 */

$topbar-height: 76px;
